Flask==2.2.5
gunicorn==21.2.0

langchain==0.1.12  # Downgraded for stability
langchain-community==0.0.30
langchain-core==0.3.37  # Matches dependencies correctly
langchain-huggingface==0.1.1
langchain-groq==0.2.2  # Stable version

faiss-cpu==1.7.4
pypdf==3.17.2
